:root {
  --twikoo-name-yy: #185acc;
  --guole-hover: #49b1f5;
  --guole-shadow: 0 8px 12px -3px rgba(73, 177, 245, 0.2);
  --second: #fff;
  --btn-color: #ffffff;
  --guole-border: 1px solid var(--guole-card-border);
  --guole-theme-color: #1c69ed;
  --guole-none: rgba(0, 0, 0, 0);
  --guole-white: #fff;
  --guole-black: #000;
  --guole-white-op: rgba(255, 255, 255, 0.2);
  --guole-main: var(--guole-theme-color); 
  --guole-main-op: var(--guole-theme-op);
  --guole-shadow-main: 0 8px 12px -3px var(--guole-main-op);
  --guole-snackbar-time: 2s;
  --guole-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
  --guole-main-op-deep: var(--guole-theme-op-deep) !important;
  --guole-shadow-red: 0 8px 12px -3px #ee7d7936;
  --guole-shadow-green: 0 8px 12px -3px #87ee7936;
  --guole-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
  --heo-main: var(--guole-main);
  --heo-white: var(--guole-white);
  --heo-fontcolor: var(--guole-font-color);
  --heo-gray-op: #9999992b;
  --heo-card-bg: var(--card-bg);
}

[data-theme=light] {
  --guole-card-bg: #fff;
  --guole-bg: #f7f9fe;
  --guole-nav-bg: #f7f9fe;
  --btn-bg: #307af6;
  /* 全局背景调整 */
  --link-bg: rgba(237, 240, 247, 0.46);
  --link-hover: rgba(73, 177, 245, 0.7);
  --categoryBar-color: #fff;
  /* 首页磁贴颜色调整 */
  --categorybar-bg1: linear-gradient(to right, #00E4FF, #69FF97);
  --categorybar-bg2: linear-gradient(to right, #FF52E5, #ABDCFF);
  --categorybar-bg3: linear-gradient(to right, #736EFE, #CE9FFC);
  --categorybar-bg4: linear-gradient(to right, #736EFE, #5EFCE8);
  --categorybar-bg5: linear-gradient(to left, #FCCF31, #F55555);
  --categorybar-bg6: linear-gradient(to right, #28C76F, #81FBB8);
  --moments-bg: #fefefe;
  --moments-hover: #daebf7;
  --tab-item-content-bg: #fbfbfb;
  --cp-playlist-bg: rgba(255, 255, 255, 0.6);
  --cp-play-bg: #fff;
  --aplayer-lrc: #666;
  --pagination-bg: #00c4b6;
  --pagination-page: #fff;
  --guole-scrollbar: rgba(60, 60, 67, 0.4);
  --twikoo-p-bg: #edf0f7;
  --twikoo-name: var(--guole-theme-color);
  --weibo-list-title: #4c4948;
  --code-bg: #f6f8fa;
  --code-bk: #e6ebf1;
  --guole-red: #D8213C;
  --reward-info-bg: #edf0f7;
  --footer-title: rgba(232, 232, 232, 0.85);
  --footer-text: rgb(232 232 232);
  --guole-card-border: rgba(66, 68, 74, .15);
  --aplayer-li-bg: rgba(212, 212, 212, 0.8);
  --aplayer-play-bg: #e9e9e9;
  --post-copyright: #666666;
  --bb-TimeTitle-bg: rgba(48, 49, 51, 0.85);
  --bb-TimeTitle: rgba(255, 255, 255, 0.9);
  --guole-color-hover: #1c69ed;
  --search-mask: rgba(220, 220, 220, 0.85);
  --input-bg: #f1f3f8;
  --font-color-fx: rgba(255, 255, 255, 0.7);
  --guole-none: #4259ef01;
  --guole-font-color: #363636;
  --guole-theme-op: #4259ef23;
  --style-border: 1px solid var(--guole-card-border);
  --guole-theme-op-deep: #946bfe;
  --guole-secondbg: #f1f3f8;
  --guole-info: var(--guole-theme-color);
  --guole-main-op-color: var(--guole-theme-color);
  --guole-twikoo-ip: rgba(111,111,128,0.80);
  --guole-button-hover: #5192ff;
  --guole-hr: #468aff;
  --guole-background: #f7f9fe;
  --guole-shadow-border: 0 8px 16px -4px #2c2d300c;
  --style-border-always: 1px solid #e3e8f7;
  --guole-card-btn-bg: #edf0f7;
  --guole-theme-bg: var(--guole-theme-color);
  --guole-tag-bg: #99a1a9;
  --guole-tag-count: #6f6f6f;
  --reward-pop: #f5f5f5;
  --guole-card-bg: #ffffff;
}

[data-theme=dark] {
  --guole-card-bg: #1e1e1e;
  --guole-bg: #314359;
  --guole-nav-bg: #151d27;
  --card-bg: rgba(21,29,39,0.7) !important;
  /* 全局卡片背景调整 */
  --global-bg: rgb(24, 23, 31) !important;
  /* 全局背景调整 */
  --btn-bg: #3f3f3f;
  /* 页面所有按钮夜间背景色 */
  --text-highlight-color: rgba(255, 255, 255, 0.8);
  /* 夜间页面大标题白色调整 */
  --categoryBar-color: rgba(255, 255, 255, 0.9);
  /* 首页磁贴颜色调整 */
  --link-bg: rgba(48, 59, 63, 0.5);
  --link-hover: rgba(34, 98, 140, 0.7);
  --btn-hover-color: rgba(41, 117, 167, 0.8);
  --categorybar-bg1: linear-gradient(to right, #364f6b, #3fc1c9);
  --categorybar-bg2: linear-gradient(to right, #ba52ed, #ff99fe);
  --categorybar-bg3: linear-gradient(to right, #6639a6, #3490de);
  --categorybar-bg4: linear-gradient(to left, #38ef7d, #11998e);
  --categorybar-bg5: linear-gradient(to right, #b91d73, #f953c6);
  --categorybar-bg6: linear-gradient(to right, #f12711, #f5af19);
  --moments-bg: #252c2f;
  --moments-hover: #204d6b;
  --moments-title-bg: #141c21;
  --tab-item-content-bg: #171d20;
  --cp-playlist-bg: #232323;
  --cp-play-bg: #101010;
  --aplayer-lrc: rgba(255, 255, 255, .8);
  --pagination-bg: #008077;
  --pagination-page: #1f2531;
  --tab-botton-bg: #232829 !important;
  --tab-button-hover-bg: #182223 !important;
  --guole-scrollbar: rgba(200, 200, 223, 0.4);
  /*--twikoo-p-bg: #2c2c2c;*/
  --twikoo-p-bg: #19252b;
  --twikoo-name: var(--guole-theme-color);
  --weibo-list-title: #99a9bf;
  --code-bg: #171717;
  --code-bk: #303030;
  --guole-red: #FF3842;
  --reward-info-bg: #30343f;
  --footer-title: rgba(255, 255, 255, 0.5);
  --footer-text: rgba(255, 255, 255, 0.7);
  --guole-card-border: rgba(66, 68, 74, .5);
  --aplayer-li-bg: #101010;
  --aplayer-play-bg: #171717;
  --post-copyright: #CCCCCC;
  --bb-TimeTitle-bg: #19252b;
  --bb-TimeTitle: rgba(255, 255, 255, 0.7);
  --guole-color-hover: #11459d;
  --search-mask: rgba(0, 0, 0, 0.85);
  --input-bg: #30343f;
  --font-color-fx: #4c4948;
  --guole-none: #f2b94b00;
  --guole-font-color: #F7F7FA;
  --guole-theme-op: #f2b94b23;
  --style-border: 1px solid var(--guole-card-border);
  --home-title: #1f2d3d;
  --guole-theme-op-deep: #6949bb;
  --guole-secondbg: #30343f;
  --guole-info: #fff;
  --guole-main-op-color: #185acc;
  --guole-twikoo-ip: rgba(159,173,190,0.55);
  --guole-button-hover: #11459d;
  --guole-hr: #3267c3;
  --guole-background: #18171d;
  --guole-shadow-border: 0 8px 16px -4px #00000050;
  --style-border-always: 1px solid #3d3d3f;
  --guole-card-btn-bg: #30343f;
  --guole-theme-bg: #11459d;
  --guole-tag-bg: #1e3042;
  --guole-tag-count: #1e1e1e;
  --reward-pop: #c2f2f2;
  --guole-card-bg: #131a23;
}